@model Answers
@{
    ViewData["Title"] = "EditAnswerForm";
}

<h1>EditAnswerForm</h1>
<h1>Answer a Question...</h1>
<h3>Answer Details:</h3>
<table>
    <tr>
        <th>Username</th>
        <th>Details</th>
        <th>Date Posted</th>
        <th>Upvotes</th>
    </tr>
    <tbody>
        <tr>
            <td>@Model.username</td>
            <td>@Model.detail</td>
            <td>@Model.posted.ToShortDateString()</td>
            <td>@Model.upvotes</td>
            <td><a href="/qanda/answersindex" class="btn btn-success">Go Back!</a></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<form method="post" action="/qanda/editanswer">
    Username: <input type="text" name="username" /><br />
    Details: <input type="text" name="detail" /><br />
    <input type="hidden" name="questionid" value="@Model.questionid" />
    <input type="hidden" name="upvotes" value="@Model.upvotes" />
    <input type="hidden" name="posted" value="@Model.posted" />
    <input type="hidden" name="id" value="@Model.id" />

    <input type="submit" value="Save Answer" /><br />
</form>
