@model List<Questions>
@{
    ViewData["Title"] = "SearchQuestion";
}

<h3>Question Details</h3>
<table>
    <tr>
        <th>Username</th>
        <th>Title</th>
        <th>Details</th>
        <th>Date Posted</th>
        <th>Category</th>
        <th>Status</th>
    </tr>
    <tbody>
        @foreach (Questions cur in Model)
        {
            <tr>
                <td>@cur.username</td>
                <td>@cur.title</td>
                <td>@cur.detail</td>
                <td>@cur.posted.ToShortDateString()</td>
                <td>@cur.category</td>
                <td>@cur.status</td>
                <td><a href="/qanda/" class="btn btn-success">Go Back!</a></td>
            </tr>
        }


    </tbody>
</table>
<br />
<br />

